<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Notes" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Notes</h1>
    <%= link_to "New note", new_note_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

<% @category_list.uniq.each do |menu| %>
  <% if menu.id == params[:cat_id].to_f %>
    <span class="active-filter" ><%= link_to menu.category_name, notes_path(:cat_id => menu.id) %></span> |
  <% else %>
    <%= link_to menu.category_name, notes_path(:cat_id => menu.id) %> | 
  <% end %>
<% end %>

<br />

<% @categories.uniq.each do |category| %>
<h2 class="category_header"><%= category.category_name %> - <%= category.notes.size %></h2>

<div class="cell">
  <form id="live-search" action="" class="styled formfilter"" method="post">
    <fieldset>
        <input type="text" class="text-input" id="filter" value="" placeholder='filter'  autofocus />
        <span id="filter-count"></span>
    </fieldset>
</form>

<% category.notes.each do |note| %>
  <%= content_tag :div, note do %>
<h2 class="border-t-2 pt-5 italic"><%= link_to note.title, note %></h2>
<p><%= markdown truncate(note.note, :length => 120, :separator => ' ') %> <em><%= link_to "More", note %></em></p>


  <% end %>
<% end %>
<% end %>