<div class="mx-auto md:w-2/3 mb-16 w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-end mb-5 w-full">
      <div class="inline-block ml-2">
        <%= link_to "Edit this note", edit_note_path(@note), class: "mt-2 rounded-lg py-2 px-4 bg-sky-200 inline-block font-medium dark:text-zinc-700" %>
      </div>
      <div class="inline-block ml-2">
        <%= link_to "Back to notes", notes_path, class: "mt-2 rounded-lg py-2 px-4 bg-gray-200 inline-block font-medium dark:text-zinc-700" %>
      </div>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this note", @note, method: :delete, class: "cursor-pointer mt-2 rounded-lg py-2 px-4 bg-red-200 font-medium dark:text-zinc-700" %>
      </div>
    </div>

    <%= render partial: 'full_note' %>

  </div>
</div>




