<div class="relative overflow-x-auto">
<table>
  <thead class="text-xs text-white  bg-[#1e6da6] dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th scope="col" class="w-32">Date:</th>
    <th scope="col" class="w-16">Hours:</th>
    <th scope="col" class="w-16">Billable:</th>
    <th scope="col" >Notes:</th>
  </tr>
 </thead>
<% total_hours = 0 %>
<% total_bill_hours = 0 %>
<tbody>
<% @task.work_periods.time_desc.each do |work_period| %>
  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-[#f2f7fa] even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
    <% if work_period.start_time != work_period.end_time %>
    <% hours = ((work_period.end_time - work_period.start_time) / 3600).round(2) %>
    <% total_hours = total_hours + hours %>
    <% end %>
    <td scope="row" style="font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= link_to work_period.end_time.strftime("%a - %b %d, %y"), edit_work_period_path(work_period) %>
      <div><%= work_period.start_time.strftime("%H:%M") %> ~ <%= work_period.end_time.strftime("%H:%M") %></div>
    </td>
    <td class="text-right"><%= hours %></td>
    <td class="text-right"><% if work_period.billable == true %><%= hours %><% total_bill_hours = total_bill_hours + hours %><% end %></td>
    <td><% if work_period.end_time != work_period.start_time %><%= markdown(work_period.time_note) %><% end %></td>
  </tr>
<% end %>
  <tr>
    <td><b>Total Time:</b></td>
    <td><b>
      <% if total_hours > 0 %>
        <%= total_hours.round(2) %>
      <% else %>
        0
      <% end %></b></td>
    <td align="right"><b><%= total_bill_hours.round(2) %></b></td>
    <td>&nbsp;</td>
  </tr>
</tbody>
</table>
</div>