<% current_customer = "" %>

<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Tasks" %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Tasks</h1>
    <%= link_to "New task", new_task_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= render "reminders" %>

  <% @tasks.each_with_index do |task, i| %>
    
  <% if task.customer.org_name != current_customer %>
   <div class="border divide-y border-t-white py-1 px-2 bg-[#0574ab] text-white">
      <% if !task.customer.reverse_logo.blank? %>
        <img src="<%= task.customer.reverse_logo %>" />
        <% if task.customer.require_name == true %>
          <%= task.customer.org_name %>
        <% end %>
      <% else %>
        <%= task.customer.org_name %>
      <% end %>
  </div>
  <% end %>

<%= link_to task_path(task), data: { turbo: false } do %>  
  <div class="border divide-y border-t-white py-1 px-4">
    <div class="text-sm text-wrap text-pretty">
      <%= task.task_name %>
    </div>
  </div>
<% end %>

<% current_customer = task.customer.org_name %>

<% end %>

</div>
