<%= form_with(model: customer, class: "contents") do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :org_name %>
    <%= form.text_field :org_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :short_name %>
    <%= form.text_field :short_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :logo %>
    <%= form.text_field :logo, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :require_name %>
    <%= form.checkbox :require_name, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :quoted_rate %>
    <%= form.text_field :quoted_rate, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :reverse_logo %>
    <%= form.text_field :reverse_logo, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
