<%= form_with(model: work_period, class: "contents") do |form| %>
  <% if work_period.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(work_period.errors.count, "error") %> prohibited this work_period from being saved:</h2>

      <ul>
        <% work_period.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :end_time %>
    <%= form.text_field :end_time, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :time_note %>
    <%= form.textarea :time_note, rows: 8, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :billable %>
    <%= form.checkbox :billable, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :task_id %>
    <%= form.text_field :task_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 dark:bg-slate-800 dark:text-white w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
