<div id="<%= dom_id work_period %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= work_period.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= work_period.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time note:</strong>
    <% if work_period.time_note? %>
       <%= markdown(work_period.time_note) %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Billable:</strong>
    <%= work_period.billable %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Task:</strong>
    <%= work_period.task_id %>
  </p>

</div>
